@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

// colors
$black-100: #01010c;
$black-90: #282828;
$gray-lg: #4f4f4f;
$gray-md: #686868;
$gray-lt: #9f9f9f;
$white: #ffffff;
$off-white: #eaeaea;
$primary-color: #01da90;
$red-color: #ff6363;
$blue-color: #3772ff;
$yellow-color: #fdca40;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
